#app {
}

.productsTable {
    width: 60%;
}

.productsTable td {
    text-align: center;
    width: 1px;
    border-bottom: 1px solid #ddd;
}
.productsTable td img {
    width: 60%;

}
.productsTable th {
    padding-left: 10px;
    background-color: #4CAF50;
    color: white;
}

.productCard {
    border: 1px solid #ddd;
    width: 60%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.productCard img {
    width: 25%;
}