.Card {
    background-color: #ffffff;
    color: #333333;
    display: block;
    padding: 30px;
    width: 60%;
    position: absolute;
    left: 20%;
    top: 15%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.Card .card-header {
    text-align: center;
    width: 100%;
}
.Card .card-body {
    padding: 1em;
    width: 100%;
}
.Card .card-footer  {
    text-align: center;
    width: 100%;
}
.Card .card-footer button {
    margin-left: 5px;
    background-color: darkred;
    border-radius: 20px;
}
.screen {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.Card .card-body .info-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    animation: fadein 0.5s;
}
.Card .card-body .info-table-label {
    display: block;
    font-weight: bold;
}
.Card .info-table-header {
    background-color: #f4f4f4;
}
.Card .repair-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    cursor: default;
    user-select: none;
    animation: fadein 0.5s;
}
.Card thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
    cursor: default;
    background-clip: padding-box;
    position: relative;

}
.Card tbody > tr > td {
    padding: 0.4em;
    border: 1px solid #c8c8c8;
    text-align: center;
}
.no-results {
    margin: auto;
    height: auto;
}
