.DeviceList {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse
}
.DeviceList thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
}
.DeviceList tbody > tr > td {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    text-align: center;
}
.DeviceList thead > tr > th > input {
    font-size: 14px;
    color: #333333;
    background: #ffffff;
    border: 1px solid #a6a6a6;
    -moz-transition: border-color 0.2s, box-shadow 0.2s;
    -o-transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-transition: border-color 0.2s, box-shadow 0.2s;
    transition: border-color 0.2s, box-shadow 0.2s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
}
.DeviceList thead > tr > th > input:focus {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(28,153,88,0.84);
    -moz-box-shadow: 0px 0px 3px 1px rgba(28,153,88,0.84);
    box-shadow: 0px 0px 3px 1px rgba(28,153,88,0.84);
}
.paginator-bottom {
    border: 1px solid #c8c8c8;
    border-top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    width: inherit;
}
.paginator-bottom > button {
    color: #848484;
    min-width: 2.286em;
    border: 0 none;
    line-height: 2.286em;
    padding: 0;
    margin: 1px;
    -moz-transition: background-color 0.2s, box-shadow 0.2s;
    -o-transition: background-color 0.2s, box-shadow 0.2s;
    -webkit-transition: background-color 0.2s, box-shadow 0.2s;
    transition: background-color 0.2s, box-shadow 0.2s;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.paginator-bottom > button:hover {
    color:#000000;
}
.paginator-bottom > button > i {
    vertical-align: middle;
}
.paginator-bottom .material-icons {
    font-size: 13.5px!important;
    vertical-align: middle!important;
}
.active {
    background-color: darkred;
    color: #fff!important;
}
