div.MobileClient
{
    padding: 2px 0;
}

span.MobileClientBalance
{
    float: right;
    width: 30px;
    font-weight: bold;
    text-align: right;
}

span.MobileClientFIO
{
    margin-right: 30px;
}

.MobileClient .editClient {
    text-align: center;
    width: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.MobileClient .active {
    background-color: #4CAF50;
    color: #fff;
}
.MobileClient .blocked {
    background-color: #af1626;
    color: #fff;
}
.MobileClient .editing {
    background-color: #af9a36;
    color: #fff;
}
