.MessageHistory {
    display: block;
    position: absolute;
    width: 99%;
    height: 50px;
    bottom: 0;
    border: 1px solid gray;
    margin-left: 9px;
    margin-bottom: 10px;
}
.MessageHistory .message-list {
    height: 50px;
    overflow: auto;
    overflow-x: hidden;
}
.MessageHistory .message-list li:hover {
    background-color: rgb(210, 210, 210);
    color: rgb(0, 0, 0);
    cursor: default;
}