* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
}
a:focus {
    outline: none;
}
a:hover {
    text-decoration: none;
}
.txt-link {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #666666;
    line-height: 1.4;
    padding: 30px 0
}
.m-l {
    margin-left: 7px
}
input {
    outline: none;
    border: none;
}
input:focus {
    border-color: transparent !important;
}
input:focus::placeholder {
    color:transparent
}
input::placeholder {
    color: #cccccc
}
input[type="submit"] {
    border: none;
    background: transparent
}
input[type="submit"]:hover {
    cursor: pointer
}
.hov1:hover {
    color: #c87ef0
}
.limiter {
    width: 100%;
    margin: 0 auto;
}
.container-login {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-wrap: wrap;
}
.wrap-login {
    width: 520px;
    min-height: 100vh;
    background: #fff;
    margin: auto;
    padding: 10px;
}
.wrap-login-warn {
    width: 520px;
    min-height: 100vh;
    background: #fff;
    border-radius: 2px;
    position: relative;
    padding: 20px 50px 20px 0;
}
.login-more {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% - 520px);
    position: relative;
    z-index: 1;
}
.login-more:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e8519e;
    background: -webkit-linear-gradient(to bottom, #e8519e, #c77ff2);
    background: -o-linear-gradient(to bottom, #e8519e, #c77ff2);
    background: -moz-linear-gradient(to bottom, #e8519e, #c77ff2);
    background: linear-gradient(to bottom, #e8519e, #c77ff2);
    opacity: 0
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-form#form-in{
    margin-top: 70px
}
.login-form#form-up {
    display: none;
}
.login-form-title {
    display: block;
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 60px
}
.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 45px
}
.label-input {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px
}
.input {
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px
}
.focus-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}
.focus-input:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.8s;
    background: #d5042d;

}
.input:focus + .focus-input:before {
    width: 100%;
}
.has-val.input + .focus-input:before {
    width: 100%;
}
.container-login-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.wrap-login-form-btn {
    position: relative;
    z-index: 1;
    /*border-radius: 20px;*/
    overflow: hidden;
}
.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300%;
    background: darkred;
    /*background: -webkit-linear-gradient(to top, #660099, #86f220, #330033, #8cf216);
    background: -moz-linear-gradient(to top, #660099, #c77ff2, #330033, #c77ff2);
    background: linear-gradient(to top, #549299, #1ef23a, #0a330a, #4ef232);*/
    bottom: -100%;
    left: 0;
    transition: all 0.4s;
}
.login-form-btn {
    padding: 0 20px;
    min-width: 170px;
    height: 40px;
    font-family: Poppins-Medium;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
.wrap-login-form-btn:hover .login-form-bgbtn {
    bottom: 0;
}
.validate-input {
    position: relative;
}
.alert-validate:before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 30px 4px 10px;
    bottom: calc((100% - 25px) / 2);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}
.alert-validate:after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    bottom: calc((100% - 25px) / 2);
    transform: translateY(50%);
    right: 8px;
}
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
.true-validate:after {
    content: "\f26b";
    font-family: Material-Design-Iconic-Font;
    font-size: 22px;
    color: #00ad5f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: calc((100% - 25px) / 2);
    transform: translateY(50%);
    right: 5px;
}
.logo {

}
.submit-disabled {
    background: #555555!important;
}
.warning {
    display: none;
}
